asttokens==3.0.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
executing==2.2.0
icecream==2.1.4
idna==3.10
Pygments==2.19.1
python-dotenv==1.0.1
requests==2.32.3
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
